// {{ properCase name }} Component
// --------------------------------------------------------

import { memo } from "react";

function {{ properCase name }}() {
  return <div>component {{ properCase name }}</div>;
}

export default memo({{ properCase name }});
